.aboutUsHands {
    background: url('../images/AboutUS/AboutUsLine.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 10px 15px 0;
}
.aboutUsSetting img{
    height: 300px;
    position: absolute;
    right: 83%;
}
.manSetting img{
    height: 300px;
    display: block;
    margin-left: 85%
}
.Worlwide{
    background-image: url('../images/AboutUS/AboutUsWorldWidedBG-02.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 156px 15px 0;
}
.Worlwide img.map{
    height: 300px;
    position: relative;
    left: 52rem;
}
.Worlwide img.Glob{
    height: 255px;
    position: relative;
    right: 46rem;
}
.Worlwide h1{
    color: white;
    
}
.Worlwide{
    box-sizing: border-box;
}
.Worlwide h4{
    
    color: white;
}
.Worlwide p{
    padding: 0px;
    color: white;
}
.SettingBox img.Setting{
    height: 20rem;
    position: relative;
    top: 22.1rem;
}
.SettingBox img.SettingMan{
    height: 20rem;
    position: relative;
    top: 22.1rem;
    right: 7rem;

}
@media screen and (max-width: 991px){
    .SettingBox img.Setting{
        display: none;
    }
    .SettingBox img.SettingMan{
        display: none;
    }
    .Worlwide img.map{
        display: none;
    }
    .Worlwide img.Glob{
        display: none;
    }
}