.DigitalStartupsSetionTwoBg {
    background: url('../images/Plans/DigitalStartups/DigitalStartupsSetionTwoBg.png');
    background-position: center left;
    background-repeat: no-repeat;
    background-size: 40% 100%;
    padding: 15px 10px;
    position: relative;
    transition: 2s;
}

.DigitalStartupsSetionTwoBg {
    background: url('../images/Plans/DigitalStartups/DigitalStartupsSetionTwoBg.png');
    background-position: center left;
    background-repeat: no-repeat;
    background-size: 40% 100%;
    padding: 15px 10px;
    position: relative;
    transition: 2s;
}

.DigitalStartupsSetionThreeBg {
    background: url('../images/Plans/DigitalStartups/DigitalStartupsSetionThreeBg.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 100px 10px;
    position: relative;
    transition: 2s;
}

.ServicesList ul {
    position: relative;
}

.ServicesList ul li {
    padding-left: 30px;
    margin: 10px auto;
    font-size: 1.2rem;
    font-weight: 600;
}

.ServicesList ul li::before {
    content: '';
    background: url(../images/Shapes/shape05.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 100%;
    max-height: 30px;
    position: absolute;
    left: 0px;
}

section.DigitalStartupsSetionFourBg {
    background: url('../images/HomePage/HomePageBanner5.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 50px 20px;
    position: relative;
    color: #fff;
}

.DigitalStartupsSetionFive {
    background: url('../images/Plans/DigitalStartups/DigitalStartupsSetionFive.jpg');
    background-position: center right;
    background-repeat: no-repeat;
    background-size: 90% 100%;
    padding: 15px 10px;
    position: relative;
    transition: 2s;
    color: #fff;
}

.Type img {
    width: 100%;
    max-width: 250px;
    min-width: 250px;
    height: 100%;
    max-height: 230px;
    min-height: 230px;
    margin: 10px auto;
    display: block;
    object-fit: contain;
}

.LogoDesignbg1 {
    background: url('../images/Plans/DigitalStartups/DigitalStartupsMascotbg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px 20px;
    position: relative;
}

.LogoDesignbg2 {
    background: url('../images/Plans/DigitalStartups/DigitalStartupsStartUpbg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px 20px;
    position: relative;
}

.LogoDesignbg2 h2 {
    color: #D78D27;
}

.LogoDesignbg1 h2 {
    color: #D78D27;
}

.DigitalStartupsSetionEightBg h2,
.DigitalStartupsSetionSevenBg h2,
.DigitalStartupsSetionSixBg h2,
.Type h2 {
    color: #D78D27;
    font-weight: 500;
}

.Type p {
    font-weight: 600;
}

.DigitalStartupsSetionSixBg {
    background: url('../images/Plans/DigitalStartups/DigitalStartupsSetionSix.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px 20px;
    position: relative;
}

.DigitalStartupsSetionSevenBg {
    background: url('../images/Plans/DigitalStartups/DigitalStartupsSetionSeven.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px 20px;
    position: relative;
}

.DigitalStartupsSetionEightBg {
    background: url('../images/Plans/DigitalStartups/DigitalStartupsSetionEight.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px 20px;
    position: relative;
}

.DigitalStartupsSetionEightBg p,
.DigitalStartupsSetionSevenBg p,
.DigitalStartupsSetionSixBg p {
    font-weight: 600;
}

img.MainSectionImg06 {
    width: 100%;
    position: absolute;
    max-width: 420px;
    left: -250px;
    bottom: 0px;
    -webkit-animation: spin 4s linear infinite;
    -moz-animation: spin 4s linear infinite;
    animation: spin 4s linear infinite;
}

img.MainSectionImg07 {
    width: 100%;
    position: absolute;
    max-width: 420px;
    right: -250px;
    bottom: 0px;
    -webkit-animation: spin 4s linear infinite;
    -moz-animation: spin 4s linear infinite;
    animation: spin 4s linear infinite;
}

.DigitalStartupsSetionNineBg {
    padding: 40px 10px;
}

.cardRounded .card-title {
    font-size: 1.6rem;
    font-weight: 600;
    color: #D78D27;
}

.cardRounded {
    background-image: linear-gradient( 45deg, #6610A1, #001B80);
    text-align: center;
    border-radius: 50%;
    padding: 31px 51px;
    color: #fff;
    height: 100%;
    max-height: 400px;
    transition: 1s;
}

.cardRounded:hover {
    box-shadow: 0 2rem 3rem rgba(0, 0, 0, .9)!important;
    border-top: 7px solid #6610A1;
    transition: 1s;
}

.cardRounded ul {
    overflow-x: hidden;
    overflow-y: scroll;
    min-height: 110px;
}

.cardRounded li {
    margin: 10px auto;
}


/* width */

.cardRounded ul::-webkit-scrollbar {
    width: 7px;
}


/* Track */

.cardRounded ul::-webkit-scrollbar-track {
    background: #fff;
    border-radius: 50px;
}


/* Handle */

.cardRounded ul::-webkit-scrollbar-thumb {
    background: #DA9027;
    border-radius: 50px;
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: #DA9027;
}

img.processImg {
    max-width: 170px !important;
    min-width: 170px;
    margin: auto;
}

.pricingBox h2 {
    color: #fff;
}

.pricingBox h2 span {
    font-size: 1.3rem;
    color: #D78D27;
    font-weight: 600;
    font-style: italic;
}

.DigitalStartupsSetionImg0,
.DigitalStartupsSetionImg01,
.DigitalStartupsSetionImg02 {
    animation: float 6s infinite;
}

@media screen and (max-width: 991px) {
    img.MainSectionImg07 {
        max-width: 303px !important;
    }
    img.MainSectionImg06 {
        max-width: 269px !important;
    }
    .cardRounded {
        background-image: linear-gradient( 45deg, #6610A1, #001B80);
        text-align: center;
        border-radius: 50%;
        padding: 31px 51px;
        color: #fff;
        height: 100%;
        max-height: 344px !important;
        transition: 1s;
    }
}