.PricingSection h1 {
    color: #D78D27;
}


/* .PricingSection button {
    background-image: linear-gradient( 45deg, #6610A1, #001B80);
    border: none;
    color: #fff;
    height: 3rem;
    width: 15rem;
}

.PricingSection button:hover {
    color: #fff;
}

.PricingSection button {
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
} */

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.DigitalStartupsSetionThreeBg {
    background: url(../images/Plans/DigitalStartups/DigitalStartupsSetionThreeBg.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 100px 10px;
    position: relative;
    transition: 2s;
}

a.GetStarted {
    text-decoration: none;
    color: #fff;
    background-image: linear-gradient( 45deg, #6610a3, #001b80);
    padding: 10px 20px;
    border-radius: 20px;
    display: block;
    width: 100%;
    text-align: center;
    margin: 40px auto 0px;
    transition: 1s;
}

a.GetStarted:hover {
    background-image: linear-gradient( 45deg, #001b80, #6610a3);
    transition: 1s;
}

@media screen and (max-width: 991px) {
    .DigitalStartupsSetionFourBg .our {
        display: flex;
        flex-direction: column;
    }
    .cardRoundedd {
        background-image: linear-gradient( 45deg, #6610A1, #001B80);
        text-align: center;
        border-radius: 50%;
        padding: 70px 50px;
        color: #fff;
        height: 100%;
        max-height: 396px !important;
        transition: 1s;
    }
}

.DigitalStartupsSetionNineBgg {
    padding: 40px 10px;
}

.cardRoundedd .card-title {
    font-size: 1.6rem;
    font-weight: 600;
    color: #D78D27;
    justify-content: center;
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.cardRoundedd {
    background-image: linear-gradient( 45deg, #6610A1, #001B80);
    text-align: center;
    border-radius: 50%;
    padding: 70px 50px;
    color: #fff;
    height: 100%;
    max-height: 400px;
    transition: 1s;
}

.cardRoundedd:hover {
    box-shadow: 0 2rem 3rem rgba(0, 0, 0, .9)!important;
    border-top: 7px solid #6610A1;
    transition: 1s;
}

.cardRoundedd li {
    margin: 10px auto;
}

.basic {
    background-color: #3C1491;
    color: white;
    width: 8rem;
}

.basic:hover {
    color: white;
}

.ecommerce {
    border: 1px solid #3C1491;
    color: #3C1491;
    font-weight: 800;
}

.ecommerce:hover {
    color: #3C1491;
}


/* #div2 {
    display: none;
    transition: all .5s;
}

#div1 {
    transition: all .5s;
} */

.slider04 .slick-prev.slick-arrow {
    position: absolute;
    left: -90;
    top: 0;
    bottom: 0;
}

.slider04 .slick-next.slick-arrow {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
}

.slider04 .slick-prev.slick-arrow,
.slider04 .slick-next.slick-arrow {
    position: absolute;
    top: 0;
    right: -85px;
    bottom: 0;
    background: transparent;
    border: none;
    color: #3C1491;
    font-weight: 600;
    font-size: 0.6rem;
    z-index: 10;
}

button.slick-prev.slick-arrow::before {
    content: '\f053';
    position: relative;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 2rem;
    top: 7px;
}

button.slick-next.slick-arrow::after {
    content: '\f054';
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 2rem;
    position: relative;
    top: 9px;
}

@media screen and (max-width: 991px) {
    .slider04 .slick-slide {
        min-height: 335px;
    }
}

#div1 {
    transition: all .5s;
}

#div2 {
    display: none;
    transition: all .5s;
}

#div3 {
    display: none;
    transition: all .5s;
}

#div4 {
    display: none;
    transition: all .5s;
}

#div5 {
    display: none;
    transition: all .5s;
}

#div6 {
    display: none;
    transition: all .5s;
}

#div7 {
    display: none;
    transition: all .5s;
}

#div8 {
    display: none;
    transition: all .5s;
}

#ecom {
    display: none;
}

.web-d {
    display: flex;
}

@media screen and (max-width: 991px) {
    .web-d {
        display: inline;
    }
}